{% extends 'base.html' %}

<title>{% block title %} How Can Next Impulse Services Help You {% endblock %}</title>

{% block bodyid %}<body id="features"> {% endblock %}

{% block content %}

<div id="tabs">
    <div class="container">
	<div class="row header">
	    <h3>"How exactly would Next Impulse help my brand reach male consumers?"</h3>
	    <p>Here are some prime examples of how brands are leveraging us</p>
	</div>
	<div class="row">
	    <div class="col-md-12 tabs-wrapper">
		<ul class="nav nav-tabs">
		    <li class="active"><a href="#home" data-toggle="tab">Maximize views on your video</a></li>
		    <li><a href="#profile" data-toggle="tab">Increase contest entries</a></li>
		    <li><a href="#messages" data-toggle="tab">Drive online sales</a></li>
		    <li><a href="#settings" data-toggle="tab">Launch your new app</a></li>
                </ul>

                <div class="tab-content">
		    <div class="tab-pane fade in active" id="home">
			<div class="col-md-6 info">
			    <h4>It's impossible to predict virality, but we can help put you in the best position to score big</h4>
                            <p>You've spent marketing dollars on creating an awesome video that highlights your brand in a cool way. The last thing you want to see is a couple hundred views of your beloved content on YouTube. A video without viewership is a sad, dark and lonely place. </p>
					  				
			    <p>Next Impulse can help increase those views by getting your video embedded on hundreds of relevant blogs and linked to by key influencers in your industry.</p>
					  				
					  				
			    <p>Anyone that tells you "we'll make your video go viral" is probably lying to you. It's mighty difficult to predict virality, but Next Impulse can give you a fighting chance. We'll make sure your video content is placed with the right influencers to get you close to that sacred land of virality. </p>
					  				 
                        </div>
                    <div class="col-md-6 image">
			    <img src="/static/img/campaigns/video.png" class="img-responsive" alt="picture1" />
		    </div>
					  	</div>
					  	<div class="tab-pane fade" id="profile">
					  		<div class="col-md-6 image">
					  			<img src="/static/img/campaigns/contests.png" class="img-responsive" alt="contests" />
					  		</div>
					  		<div class="col-md-6 info">
					  			<h4>Giving away a free iPad will not get you to the promised land</h4>
					  			<p>
					  				
					  				Contests and sweepstakes are great ways to incentivize consumers to interact with your brand. But as anyone who's had to manage one knows, getting the word out is much easier said than done. You would think a new iPad or tickets to the big game would automatically generate lots of buzz. That simply isn't the case. 
					  				</p>
					  				
					  				<p>Your promotional prizing needs to be wildy relevant and your messaging must reach the right audience. We'll make sure your contest is being promoted on relevant websites to create a windfall of targeted entries. 
					  				
					  			</p>
					  		</div>					  		
					  	</div>
					  	<div class="tab-pane fade" id="messages">
					  		<div class="col-md-6 info">
					  			<h4>You have a great product - your e-commerce store is ready to go. Now let's get you some traffic</h4>
					  			<p>
					  				
					  				It's easier than ever to sell your product online. Unfortunately, it's just as easy for your competition - there's now an online store at every digital corner.
					  				</p>
					  				
					  				<p>This is where Next Impulse's content marketing expertise comes into play. We'll build stories and engaging content around your product. We'll then work with influencers to make your product fly off the shelves.
					  			</p>
					  		</div>
					  		<div class="col-md-6 image">
					  			<img src="/static/img/campaigns/sales.png" class="img-responsive" style="position: relative;top: 15px;" alt="picture3" />
					  		</div>
					  	</div>
					  	<div class="tab-pane fade" id="settings">
					  		<div class="col-md-6 image">
					  			<img src="/static/img/campaigns/mobile.png" class="img-responsive" alt="mobile" />
					  		</div>
					  		<div class="col-md-6 info">
					  			<h4>Traditional marketing strategies for mobile apps are D.O.A. - Word of mouth is all that matters. Let us help you generate some.</h4>
					  			<p>
					  				
					  				If you've tried to use traditional marketing strategies to gain momentum for your mobile app you know how painful that can be. Mobile apps are all about the product and the viral mechanics built into it. But even when have you have a great product and smart viral hooks, you're next challenge still looms large: The app store. It's an endless sea of 57x57 app icons. 
					  				</p>
					  				
					  				<p>Word of mouth is the only chance you have. Next Impulse will create an engaging and authentic schedule of content that we'll seed to key websites and influencers. 
					  				</p>
					  		</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="first-option">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h2>"What is Next Impulse's approach to influencer marketing campaigns?"</h2>
					<p>We're all about connecting with the male demographic online.</p>
				</div>
			</div>
			<div class="row feature">
				<div class="col-md-6 info">
					<h4>Strong reach out of the gate</h4>
					<p>
						We're never starting from scratch on your influencer program. We own properties with strong reach that continue to grow.<a href="http://nextimpulsesports.com">Our flagship website, Next Impulse Sports</a> is the fastest growing independent sports website on the Internet. Recognized by Time Magazine as one of the <a href="http://techland.time.com/2012/09/18/50-best-websites-2012/slide/cosby-sweaters/">50 Best Websites</a>, we welcome nearly 5 million unique visitors each month. We obsessively curate the funny, awe-inspiring and culturally relevant content that guys online want to share. We're referenced by websites such as <a href="http://bleacherreport.com">Bleacher Report</a>, <a href="http://foxsports.com">Fox Sports</a>, and <a href="http://si.com">Sports Illustrated</a> (among many others) on a daily basis.
					</p>
				</div>
				<div class="col-md-6 image">
					<img src="/static/img/campaigns/nis-logo.png" class="img-responsive" alt="next impulse sports" />
				</div>
			</div>
			<div class="row feature backwards">
				<div class="col-md-6 info">
					<h4>Know thy audience - creating personas</h4>
					<p>
						Our first step of each new campaign is an obsessive focus on audience. </p>
						
						<p>We do this so we can build a direct map to the influencers and websites that will resonate with your audience. Our personas of the digital 18-45 male give a high level example how we identify audience and influencer personas to ensure we're developing authentic and highly effective influencer marketing campaigns.</p>
						
						<p>To see samples of our digital male personas, <!--HubSpot Call-to-Action Code -->
						<span class="hs-cta-wrapper" id="hs-cta-wrapper-46915387-0b1e-4601-b2b0-707282660bc7">
						    <span class="hs-cta-node hs-cta-46915387-0b1e-4601-b2b0-707282660bc7" id="hs-cta-46915387-0b1e-4601-b2b0-707282660bc7">
						        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
						        <a href="http://cta-redirect.hubspot.com/cta/redirect/261624/46915387-0b1e-4601-b2b0-707282660bc7"><img class="hs-cta-img" id="hs-cta-img-46915387-0b1e-4601-b2b0-707282660bc7" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/261624/46915387-0b1e-4601-b2b0-707282660bc7.png" /></a>
						    </span>
						    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
						        <script type="text/javascript">
						            hbspt.cta.load(261624, '46915387-0b1e-4601-b2b0-707282660bc7');
						        </script>.
						</span>
						<!-- end HubSpot Call-to-Action Code -->
						</p> 
				</div>
				<div class="col-md-6 image">
					<img src="/static/img/sample-persona.png" class="img-responsive" alt="sample persona" />
				</div>
			</div>
			<div class="row feature">
				<div class="col-md-6 info">
					<h4>Mobile first mentality</h4>
					<p>
						To reach the male demographic, brands need to think mobile first. Mobile isn't coming, it's here. Nearly 60% of Next Impulse Sports' traffic comes from guys on their mobile devices. When we curate and create content we do it with a mobile first mentality. Our thought process: "What is the best, most shareable content that male consumers will quickly digest while going about their day?" We bring this aggressive focus on mobile to all of our influencer marketing campaigns. 
					</p>
				</div>
				<div class="col-md-6 image">
					<img src="/static/img/mobile-approach.png" class="img-responsive" alt="mobile first" />
				</div>
			</div>
			<div class="row feature backwards">
				<div class="col-md-6 info">
					<h4>Relationship management and accountability</h4>
					<p>
						Because of our experience growing websites, we've participated in many campaigns as influencers. We know from the inside how to incentivize and keep influencer performing for your brands. Throughout our influencer marketing campaigns we will be utilizing our long term relationships with key bloggers and influencers to get ongoing value for your campaign. While you're busy on your overall marketing campaigns, we'll be your partner on the ground managing the day-to-day with your new army of influencers.  
					</p>
				</div>
				<div class="col-md-6 image">
					<img src="/static/img/bloggers-approach.png" class="img-responsive" alt="influencer recruiting" />
				</div>
			</div>
		</div>
	</div>

<!-- START OF CTA -->

<div id="cta">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper clearfix">
					<center><h4>Download our capabilities deck for case studies with amazing brands.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
					<!--HubSpot Call-to-Action Code -->
					<span class="hs-cta-wrapper" id="hs-cta-wrapper-baca10f4-dc11-4575-91cd-5e7dc479ab0d">
					    <span class="hs-cta-node hs-cta-baca10f4-dc11-4575-91cd-5e7dc479ab0d" id="hs-cta-baca10f4-dc11-4575-91cd-5e7dc479ab0d">
					        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
					        <a href="http://cta-redirect.hubspot.com/cta/redirect/261624/baca10f4-dc11-4575-91cd-5e7dc479ab0d"><img class="hs-cta-img" id="hs-cta-img-baca10f4-dc11-4575-91cd-5e7dc479ab0d" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/261624/baca10f4-dc11-4575-91cd-5e7dc479ab0d.png" /></a>
					    </span>
					    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
					        <script type="text/javascript">
					            hbspt.cta.load(261624, 'baca10f4-dc11-4575-91cd-5e7dc479ab0d');
					        </script>
					</span>
					<!-- end HubSpot Call-to-Action Code -->
					</center>
					
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
