<div id="footer">
    <div class="container">
	<div class="row">
	    <div class="col-sm-3 copyright">
	    Next Impulse Media LLC &#169; 2014
	    </div>
            <div class="col-sm-6 menu">
                <ul>
                    <li><a href="{% url "home" %}">Home</a></li>
                    <li><a href="{% url "about" %}">About</a></li>
                    <li><a href="{% url "campaigns" %}">How We Help</a></li>
                    <li><a href="{% url "pricing" %}">Pricing</a></li>
                    <li><a href="{% url "contactus" %}">Contact</a></li>
	      	</ul>
	    </div>
	    <div class="col-sm-3 social">
		<a href="http://twitter.com/nextimpulse">
                    <img src="/static/img/social/social-twitter.png" alt="twitter" />
		</a>
		<a href="https://www.facebook.com/nextimpulsesports">
		    <img src="/static/img/social/social-facebook.png" alt="facebook" />
		</a>
		<a href="http://www.linkedin.com/company/1599080">
		    <img src="/static/img/social/social-linkedin.png" alt="linkedin" />
		</a>
	    </div>
	</div>
    </div>
</div>

</body>
</html>