{% extends 'base.html' %}

<title>{% block title %} Pricing for Next Impulse Services {% endblock %}</title>

{% block stylesheets %}
    <!-- css stylesheets -->
    <link rel="stylesheet" type="text/css" href="/static/css/compiled/theme.css">
    <link rel="stylesheet" type="text/css" href="/static/css/vendor/entypo.css">
    <link rel="stylesheet" type="text/css" href="/static/css/vendor/brankic.css">
{% endblock %}

{% block javascript %}
    <!-- javascript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/theme.js"></script>
{% endblock %}

{% block bodyid %}<body id="charts"> {% endblock %}

{% block content %}

<div id="chart-option">
		<div class="container">
		
		<div class="row header">
			<div class="col-md-12">
				<h3>Massive Reach. Minor Budget.</h3>
				<p>This pricing is based on the average 90 day campaign and will differ from program to program. <a href="contact.html">Reach out to us</a> so we can discuss your goals and program objectives specifically.</p>
			</div>
		</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="chart clearfix">
						<div class="features-col col-sm-6">
							<div class="header">								
								Features
							</div>
							<div class="spec">
								<span class="icon brankic-clipboard2"></span>
								Dedicated Account Management
							</div>
							<div class="spec">
								<span class="icon brankic-compass"></span>
								Campaign Strategy
							</div>
							<div class="spec">
								<span class="icon brankic-pacman"></span>
								Influencer Recruiting
							</div>
							<div class="spec">
								<span class="icon brankic-profile"></span>
								Ongoing Influencer Management
							</div>
							<div class="spec">
								<span class="icon brankic-megaphone2"></span>
								Campaign Amplification
							</div>
							<div class="spec">
								<span class="icon brankic-chart2"></span>
								Campaign Report
							</div>
							<div class="spec">
								<span class="icon brankic-chart4"></span>
								Weekly Campaign Analytics
							</div>
							<div class="spec">
								<span class="icon brankic-chart6"></span>
								Daily Campaign Analytics
							</div>
							<div class="spec">
								<span class="icon brankic-brush"></span>
								Dedicated Creative Director
							</div>
							<div class="spec last">
								<span class="icon brankic-presentation"></span>
								Ongoing Graphic Design Support
							</div>
							<div class="spec last">
								<span class="icon  brankic-money-bag"></span>
								Reach / Placement Guarantees
							</div>
						</div>
						<div class="plan-col col-sm-2">
							<div class="header">
								Small Business
								<div class="price">
									$999/mo
								</div>
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">&nbsp;</div>
							<div class="spec">&nbsp;</div>
							<div class="spec">&nbsp;</div>
							<div class="spec">&nbsp;</div>
							<div class="spec">&nbsp;</div>
							

							<a href="signup.html" class="button button-small">Get Started</a>
						    
							
						</div>
						<div class="plan-col col-sm-2">
							<div class="header">
								Pro Services
								<div class="price">
									$1999/mo
								</div>
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">&nbsp;</div>
							<div class="spec">&nbsp;</div>
							<div class="spec">&nbsp;</div>
							<div class="spec">&nbsp;</div>
                                                        <a href="signup.html" class="button button-small">Get Started</a>
							
							
						</div>
						<div class="plan-col last col-sm-2">
							<div class="header">
								Enterprise Plans
								<div class="price">
									Contact Us
								</div>
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
							<div class="spec">
								<img src="/static/img/checkmark.png" class="check" alt="checkmark" />
							</div>
<a href="signup.html" class="button button-small">Get Started</a>

						</div>
					</div>
				</div>
			</div>
			<div class="row message">
				<p>
					All of the above pricing plans our based on standard 30 day influencer campaigns. To discuss your specific program, please  
					<a href="contact.html">contact us</a>.
				</p>
			</div>	
			<div class="row faq">
				<div class="col-md-12">
					<div class="row header">
						<div class="col-md-12">
							<h3>Frequently Asked Questions</h3>
						</div>
					</div>
					<div class="row questions">
						<div class="col-md-6">
							<div class="question">
								<strong>Is this pricing set in stone?</strong>
								<p>
									No. The above pricing charts are meant to give you rates of our average programs. We'll first want to get a better understanding of your campaign goals and then we can give you an estimate specific to your campaign. 
								</p>
							</div>
							<div class="question">
								<strong>How will I be billed?</strong>
								<p>
									We invoice most clients monthly and they pay by check. If you want to pay by recurring credit card or PayPal, we can accommodate that was well. 
								</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="question">
								<strong>How long is the typical campaign?</strong>
								<p>
									The lion's share of the campaigns we have worked on have lasted approximately 3 months. But again, this will vary program to program. Some campaigns need to be quick hitters, others are about creating longer lasting relationships with influencers and bloggers.
								</p>
							</div>
							<div class="question">
								<strong>Can I talk to someone directly about program pricing?</strong>
								<p>
									Certainly. Send an email to <a href="mailto:newbusiness@next-impulse.com">newbusiness@next-impulse.com</a> and we'll answer any questions you have. Alternatively, you can call us at <strong>650-427-0021</strong>.
								</p>
							</div>
						</div>
					</div>
					
					<div id="cta">
					<div class="row contact">
						<div class="col-md-12">
							<div class="wrapper clearfix">
								<h4>
									<span class="brankic-phone2"></span>
									Let's discuss how to launch your campaign on budget. Call to discuss at
									<strong>(650) 427-0021</strong>
								</h4>
							</div>
						</div>
					</div></div>
					
				</div>
			</div>
		</div>
	</div>
{% endblock %}